extends layout
block content
    main
        section.carouselImages
            div.containerImages
                img(src="./img/bannerOne.png", alt="")
                img(src="./img/bannerTwo.png", alt="")
                img(src="./img/bannerThree.png", alt="")
                img(src="./img/bannerFour.png", alt="")
            ul#containerArrows
                li
                    <svg class="arrowLeft" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg>
                li
                    <svg class="arrowRight xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z"/></svg>

        section.infoCenter
            div.elementInfo_one
                div
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#999999"><path d="M240-160q-50 0-85-35t-35-85H40v-440q0-33 23.5-56.5T120-800h560v160h120l120 160v200h-80q0 50-35 85t-85 35q-50 0-85-35t-35-85H360q0 50-35 85t-85 35Zm0-80q17 0 28.5-11.5T280-280q0-17-11.5-28.5T240-320q-17 0-28.5 11.5T200-280q0 17 11.5 28.5T240-240ZM120-360h32q17-18 39-29t49-11q27 0 49 11t39 29h272v-360H120v360Zm600 120q17 0 28.5-11.5T760-280q0-17-11.5-28.5T720-320q-17 0-28.5 11.5T680-280q0 17 11.5 28.5T720-240Zm-40-200h170l-90-120h-80v120ZM360-540Z"/></svg>
                    b Delivery y envios a todo el Perú
                    small ¡RECIBELOS EN CASA EN EL MISMO DIA DE COMPRA!
                div
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#999999"><path d="M560-440q-50 0-85-35t-35-85q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35ZM280-320q-33 0-56.5-23.5T200-400v-320q0-33 23.5-56.5T280-800h560q33 0 56.5 23.5T920-720v320q0 33-23.5 56.5T840-320H280Zm80-80h400q0-33 23.5-56.5T840-480v-160q-33 0-56.5-23.5T760-720H360q0 33-23.5 56.5T280-640v160q33 0 56.5 23.5T360-400Zm440 240H120q-33 0-56.5-23.5T40-240v-440h80v440h680v80ZM280-400v-320 320Z"/></svg>
                    b Opciones de pago variados
                    small ¡RECIBELOS EN CASA EN EL MISMO DIA DE COMPRA!

            div.elementInfo_two
                div
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#999999"><path d="M480-80q-139-35-229.5-159.5T160-516v-244l320-120 320 120v244q0 152-90.5 276.5T480-80Zm0-84q97-30 162-118.5T718-480H480v-315l-240 90v207q0 7 2 18h238v316Z"/></svg>
                    b Compras seguras y protegidas
                    small ¡RECIBELOS EN CASA EN EL MISMO DIA DE COMPRA!
                div
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#999999"><path d="M380-80q-75 0-127.5-52.5T200-260q0-35 17-64.5t63-75.5q6-6 11.5-12.5T306-430q-51-78-78.5-163.5T200-760q0-58 21-89t59-31q57 0 102 55t68 101q9 20 16.5 40.5T480-641q6-22 13.5-42.5T511-724q22-46 67-101t102-55q38 0 59 31t21 89q0 81-27.5 166.5T654-430q9 11 14.5 17.5T680-400q46 46 63 75.5t17 64.5q0 75-52.5 127.5T580-80q-45 0-72.5-10L480-100l-27.5 10Q425-80 380-80Zm0-80q23 0 46-5.5t43-16.5q-11-5-20-17t-9-21q0-8 11.5-14t28.5-6q17 0 28.5 6t11.5 14q0 9-9 21t-20 17q20 11 43 16.5t46 5.5q42 0 71-29t29-71q0-18-10-35t-30-34q-14-12-23-21t-29-34q-29-35-48-45.5T480-440q-41 0-60.5 10.5T372-384q-20 25-29 34t-23 21q-20 17-30 34t-10 35q0 42 29 71t71 29Zm40-130q-8 0-14-9t-6-21q0-12 6-21t14-9q8 0 14 9t6 21q0 12-6 21t-14 9Zm120 0q-8 0-14-9t-6-21q0-12 6-21t14-9q8 0 14 9t6 21q0 12-6 21t-14 9ZM363-489q11-8 25-14t31-11q-2-48-14.5-95.5T373-696q-19-40-42-67.5T285-799q-2 6-3.5 15.5T280-760q0 68 21.5 138T363-489Zm234 0q40-63 61.5-133T680-760q0-14-1.5-23.5T675-799q-23 8-46 35.5T587-696q-18 39-30.5 86.5T541-514q15 4 29 10.5t27 14.5Z"/></svg>
                    b Contamos con productos cruelty free
                    small ¡RECIBELOS EN CASA EN EL MISMO DIA DE COMPRA!
        section.marcas
            h1  NUESTRAS MARCAS
            div.containerMarcas
                div(class="marca marcaOne", style="background-image:url('/img/tocoboBanner.png')", data-id="1", data-name="tocobo") T
                div(class="marca marcaTwo", style="background-image:url('/img/numbuzinBanner.png')", data-Id="2", data-name="numbuzin") N
                div(class="marca marcaThree", style="background-image:url('/img/skin1004Banner.png')", data-id="3", data-name="skini1004") S
                div(class="marca marcaFour", style="background-image:url('/img/anuaBanner.png')", data-id="4", data-name="anua") A
                div(class="marca marcaFive", style="background-image:url('/img/bojBanner.png')", data-id="5", data-name="boj") B
                div(class="marca marcaSix", style="background-image:url('/img/celimaxBanner.png')", data-id="6", data-name="celimax") C
                div(class="marca marcaSeven", style="background-image:url('/img/haruharuBanner.png')", data-id="7", data-name="haru haru") H
                div(class="marca marcaEight", style="background-image:url('/img/cosrxBanner.png')",  data-id="8", data-name="cosrx") C
                div(class="marca marcaNine", style="background-image:url('/img/nacificBanner.png')" data-id="9", data-name="nacific") N
                div(class="marca marcaTen", style="background-image:url('/img/petitfeeBanner.png')", data-id="10", data-name="petitfee") P
        section.masVendidos
            h1 PRODUCTOS MAS VENDIDOS
            div.movimientoMasVendidos
                div.containerMasVendidos_one
                    if baseDatos && baseDatos.length > 0
                        each element,indice in baseDatos
                          div(class=`masVendidoElement masVendidoElement_${indice+1}`, data-categoria=element.category, data-brand=element.brand, data-name=element.name )
                               img(src=element.img[0])
                               b #{element.subtitle}
                               small S/.#{element.price}
                               div
                                    button(data-id=element.id, data-brand=element.brand, data-img=element.img[0], data-price=element.price, data-name=element.name) agregar al carrito
                                    button(data-id=element.id, data-brand=element.brand, data-img=element.img[0], data-price=element.price, data-name=element.name) comprar
                    else
                        p No se encontraron productos
                div.containerMasVendidos_two
                    if baseDatos && baseDatos.length > 0
                        each element,indice in baseDatos
                            div(class=`masVendidoElement masVendidoElement_${indice + 1}`, data-categoria=element.category, data-brand=element.brand, data-name=element.name)
                                img(src=element.img[0])
                                b #{element.subtitle}
                                small S/.#{element.price}
                                div
                                    button(data-id=element.id, data-brand=element.brand, data-img=element.img[0], data-price=element.price, data-name=element.name) agregar al carrito
                                    button(data-id=element.id, data-brand=element.brand, data-img=element.img[0], data-price=element.price, data-name=element.name) comprar
                    else
                        p No se encontraron productos
            div.movimientoMasVendidos_2
                div.containerMasVendidos_2_one
                    if baseDatos && baseDatos.length > 0
                        each element,indice in baseDatos
                            div(class=`masVendidoElement_two masVendidoElement_two_${indice+1}`,data-categoria=element.category, data-brand=element.brand, data-name=element.name)
                                img(src=element.img[0])
                                b #{element.subtitle}
                                small S/.#{element.price}
                                div
                                    button(data-id=element.id, data-brand=element.brand, data-img=element.img[0], data-price=element.price, data-name=element.name) agregar al carrito
                                    button(data-id=element.id, data-brand=element.brand, data-img=element.img[0], data-price=element.price, data-name=element.name) comprar
                    else
                        p No se encontraron productos
                div.containerMasVendidos_2_two
                    if baseDatos && baseDatos.length > 0
                        each element,indice in baseDatos
                            div(class=`masVendidoElement_two masVendidoElement_two_${indice + 1}`,data-categoria=element.category, data-brand=element.brand, data-name=element.name)
                                img(src=element.img[0])
                                b #{element.subtitle}
                                small S/.#{element.price}
                                div
                                    button(data-id=element.id, data-brand=element.brand, data-img=element.img[0], data-price=element.price, data-name=element.name) agregar al carrito
                                    button(data-id=element.id, data-brand=element.brand, data-img=element.img[0], data-price=element.price, data-name=element.name) comprar
                    else
                        p No se encontraron productos
        section.catalogo
            h1 DESCUBRE NUESTRO CATALOGO
            .catalogoElements
                .elemento
                    h2 SERUMS
                    video.video(autoplay, muted, loop)
                        source(src="/video/celimax/celimax.mp4", type="video/mp4")
                        source(src="serum.webm", type="video/webm")
                        | Tu navegador no soporta el elemento de video.
                .elemento
                    h2 CREMAS
                    video.video(autoplay, muted, loop)
                        source(src="/video/celimax/celimax.mp4", type="video/mp4")
                        source(src="serum.webm", type="video/webm")
                        | Tu navegador no soporta el elemento de video.
                .elemento
                    h2 MAQUILLAJE
                    video.video(autoplay, muted, loop)
                        source(src="/video/celimax/celimax.mp4", type="video/mp4")
                        source(src="rejuvenecimiento.webm", type="video/webm")
                        | Tu navegador no soporta el elemento de video.
                .elemento
                    h2 BLOQUEADORES
                    video.video(autoplay, muted, loop)
                        source(src="/video/celimax/celimax.mp4", type="video/mp4")
                        source(src="bloqueadores.webm", type="video/webm")
                        | Tu navegador no soporta el elemento de video.
                .elemento
                    h2 LABIALES
                    video.video(autoplay, muted, loop)
                        source(src="/video/celimax/celimax.mp4", type="video/mp4")
                        source(src="otros.webm", type="video/webm")
                        | Tu navegador no soporta el elemento de video.
                .elemento
                    h2 OTROS
                    video.video(autoplay, muted, loop)
                        source(src="/video/celimax/celimax.mp4", type="video/mp4")
                        source(src="otros.webm", type="video/webm")
                        | Tu navegador no soporta el elemento de video.



















