extends layout
block content
    if producto
        main.container_productDetail
            h1= producto.brand
            section.info_productDetail
                div.sideLeft
                    div.topLeft
                        img(src=producto.img[0])
                    div.botLeft
                        img(src=producto.img[1])
                        img(src=producto.img[2])
                        img(src=producto.img[3])
                        div.arrowsLeftSide
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#999999"><path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg>
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#999999"><path d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z"/></svg>
                        div.circlesLeftSide
                            div
                            div
                            div
                            div
                div.sideRight
                        h2=producto.subtitle
                        div.priceStar
                            b(style="font-weight:600")= `S/. ${producto.price}`
                            //ul#estrellas
                            //    li
                            //        <i class="fa-solid fa-star"></i>
                            //    li
                            //        <i class="fa-solid fa-star"></i>
                            //    li
                            //        <i class="fa-solid fa-star"></i>
                            //    li
                            //        <i class="fa-solid fa-star"></i>
                            //    li
                            //        <i class="fa-solid fa-star"></i>
                        hr
                        div.middleInfo
                            b tipo
                            h4= producto.shortInfo[0]
                        div.middleInfo
                            b color
                            h4= producto.shortInfo[1]
                        div.middleInfo
                            b estado
                            h4= producto.shortInfo[2]
                        div.middleInfo
                            b rango de edad
                            h4= producto.shortInfo[3]
                        div.middleInfo
                            b caracteristicas
                            h4= producto.shortInfo[4]
                        hr
                        div.bottomInfo
                            h1 Sobre este árticulo
                            ul
                                li= producto.longInfo[0]
                                li= producto.longInfo[0]
                                li= producto.longInfo[0]
                                li= producto.longInfo[0]
                        div.lastMove
                            button(data-id=producto.id, data-brand=producto.brand, data-img=producto.img[0], data-price=producto.price, data-name=producto.name) enviar al carrito
                            button(data-id=producto.id, data-brand=producto.brand, data-img=producto.img[0], data-price=producto.price, data-name=producto.name) comprar

            section.productsRecomended
                h1 Productos Recomendados
                div.containerElementsRecomended
                    each element,index in recomendados
                        div(class=`product${element.category} productRecomendent`)
                            img(src=element.img[0])
                            b #{element.subtitle}
                            b= `S/. ${element.price}`
                            div
                                button(class="btn-carrito", data-id=element.id, data-brand=element.brand, data-img=element.img[0], data-price=element.price, data-name=element.name) agregar al carrito
                                button(class="btn-comprar", data-id=element.id, data-brand=element.brand, data-img=element.img[0], data-price=element.price, data-name=element.name) compra
